@page "/stronaspecjalna"

<h3>specjalna stronka</h3>

Cirno's Perfect Math Class (チルノのパーフェクトさんすう教室 Chiruno no Paafekuto Sansuu Kyoushitsu?) is a song remixed by Camellia and named "⑨⑨⑨ (999) Remix" in D4DJ Groovy Mix.
It was originally derived from Beloved Tomboyish Daughter, theme of Cirno from Touhou Project's sixth installment, Embodiment of Scarlet Devil.

"Cirno's Perfect Math Class" was written and arranged by members of IOSYS ARM, Yoshimi Tano,
sung by miko,and was featured on the group's album Touhou Anthology of Ice and Snow (東方氷雪歌集, Tōhō Hyōsetsu Kashū),
released at the Touhou convention Touhou Kouroumu 4 on November 2nd, 2008.
In theme with the album, the song was an arrangement of Cirno's boss theme "Beloved Tomboyish Girl" (おてんば恋娘, Otenba Koimusume), composed by Touhou creator ZUN for her appearance as the second boss in the Embodiment of Scarlet Devil.
To promote the album, the song was released online along with a flash-animated music video created by TETLA POT on the album's now-defunct official site on October 25th, 2008.

This song holds the highest BPM of the game, taking the spot from Exitium.
Combos (notes) for this song are consisted with 999's multiples except for Easy difficulty.
Normal as one third (1/3); Hard as two thirds (2/3); Expert equals with the BPM value.
<hr />
<br />

<video controls="controls" width="500" height="500"> 
<source src="/video/2c1b25ce-15c2-419a-b18f-defaf3e1c9a8.mp4" type="video/mp4" />
</video>


@code {

}
